In [4]:
import pandas as pd
import numpy as np
import re
import requests 
from bs4 import BeautifulSoup

In [5]:
url = "https://en.wikipedia.org/wiki/List_of_salaries_of_heads_of_state_and_government#cite_note-106"
page = requests.get(url)
page.status_code

200

In [6]:
soup = BeautifulSoup(page.content, "html.parser")

In [7]:
table_presindent = soup.findAll("table", class_="wikitable")

In [8]:
len(table_presindent)

3

In [9]:
table = table_presindent[0]

In [10]:
body = table.find_all("tr")

In [11]:
head = body[0]

In [12]:
body_rows = body[1:]

In [13]:
headings = []
for item in head.find_all("th"):
    item = (item.text).rstrip("\n")
    headings.append(item)
print(headings)

['State', 'Head of state (USD)', 'Head of government (USD)', 'Head of state salary divided by GDP [1 per million]', 'Head of government salary divided by GDP [1 per million]', 'Head of state salary divided by GDP per capita', 'Head of government salary divided by GDP per capita']

In [14]:
states = []
head_states = []
head_states2 = []
for row_item in body_rows:
    state = row_item.find("th").text
    state = re.sub("(\xa0)|(\n)|,", "",state)
    states.append(state)
    # head of the state
    head_state = row_item.find("td").text
    head_state = re.sub("(\xa0)|(\n)|,", "",head_state)
    head_states.append(head_state)
    # Posible prime minister
    minister = row_item.find_all("td")[1].text
    minister = re.sub("(\xa0)|(\n)|,", "", minister)
    head_states2.append(minister)

In [15]:
len(body_rows)

197

In [16]:
df = pd.DataFrame(data = {"Country":states,
                         "Head": head_states,
                         "Ministers": head_states2})

In [17]:
df.head()

       Country                          Head                       Ministers
0  Afghanistan      13400 USD (President)[3]                          0.6415
1      Albania      19665 USD (President)[4]   20400 USD (Prime Minister)[5]
2      Algeria  168000 USD (President)[6][7]   61100 USD (Prime Minister)[8]
3      Andorra         Co-Princes of Andorra   82800 USD (Prime Minister)[9]
4       Angola     74480 USD (President)[10]  61330 USD (Vice President)[10]

In [18]:
df.shape

(197, 3)

In [19]:
df.to_csv("Presidents_Ministers_incomes.csv", index = False)